@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes display {
  0% {
    transform: translateX(180px);
    opacity: 0;
  }
  10% {
    transform: translateX(0);
    opacity: 1;
  }
  20% {
    transform: translateX(0);
    opacity: 0;
  }
  30% {
    transform: translateX(-180px);
    opacity: 0;
  }
  40% {
    transform: translateX(-180px);
    opacity: 0;
  }
  100% {
    transform: translateX(-188px);
    opacity: 0;
  }
}

.tout > .case {
  position: absolute;
  top: 0;
  left: calc(50% - 200px);
  opacity: 0;
  animation: display 12s infinite;
}

.case:nth-child(2) {
  animation-delay: 2s;
}
.case:nth-child(3) {
  animation-delay: 4s;
}
.case:nth-child(4) {
  animation-delay: 6s;
}
.case:nth-child(5) {
  animation-delay: 8s;
}
.case:nth-child(6) {
  animation-delay: 10s;
}

/* Slider with Scroll-snap */
@layer utilities {
  .snap {
    scroll-snap-type: var(--scroll-snap-direction) var(--scroll-snap-constraint);
  }
  .snap-y {
    --scroll-snap-direction: y;
  }
  .snap-mandatory {
    --scroll-snap-constraint: mandatory;
  }
  .snap-start {
    scroll-snap-align: start;
  }
}
