@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes display {
  0% {
    transform: translateX(180px);
    opacity: 0;
  }
  10% {
    transform: translateX(0);
    opacity: 1;
  }
  20% {
    transform: translateX(0);
    opacity: 0;
  }
  30% {
    transform: translateX(-180px);
    opacity: 0;
  }
  40% {
    transform: translateX(-180px);
    opacity: 0;
  }
  100% {
    transform: translateX(-188px);
    opacity: 0;
  }
}

.tout > .case {
  position: absolute;
  top: 0;
  left: calc(50% - 200px);
  opacity: 0;
  animation: display 12s infinite;
}

.case:nth-child(2) {
  animation-delay: 2s;
}
.case:nth-child(3) {
  animation-delay: 4s;
}
.case:nth-child(4) {
  animation-delay: 6s;
}
.case:nth-child(5) {
  animation-delay: 8s;
}
.case:nth-child(6) {
  animation-delay: 10s;
}

@media only screen and (min-width: 500px) {
  .column {
    grid-template-columns: 1fr 1fr;
  }
}

/* Slider with Scroll-snap */
@layer utilities {
  .snap {
    scroll-snap-type: var(--scroll-snap-direction) var(--scroll-snap-constraint);
  }
  .snap-y {
    --scroll-snap-direction: y;
  }
  .snap-mandatory {
    --scroll-snap-constraint: mandatory;
  }
  .snap-start {
    scroll-snap-align: start;
  }
}

/* Loading icon */
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 50px;
  height: 50px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #000;
  border-color: #000 transparent #000 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
